name: Integration Test

on:
  workflow_run:
    workflows: ["Build"]
    branches: [main]
    types:
      - completed
  pull_request:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: integration
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    
    runs-on: ubuntu-latest

    steps:
    - name: Checkout validator
      uses: actions/checkout@v3
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
    - name: Remove example categories
      run: |
        rm -rf ./categories
        rm -f attribute_id_tracker.csv
        rm -f category_id_tracker.csv
    - name: Checkout categories
      uses: actions/checkout@v3
      with:
        repository: simple0x47/cooplan-definitions
        token: ${{ secrets.GH_PAT }}
        path: definitions
        ref: main
    - name: Move definitions
      run: |
        mv ./definitions/* ./ 
    - name: Run validator on current categories
      run: |
        cargo build --release
        mv ./target/release/cooplan-definitions-validator ./
        chmod +x ./cooplan-definitions-validator
        ./cooplan-definitions-validator
